:root
{
    --accent : #3b72ff;
    --primary : beige;
    --secondary : #e3e3cb;
}
::-webkit-scrollbar
{
    display: none;
}
*
{
    font-family: poppins;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: white;
    transition: .1s;
}
html 
{
    scroll-behavior: smooth;
}
body
{
    overflow-x: hidden;   
    background-color: #101010;
}
header
{
    text-shadow: #101010;
    z-index: 5;
    position: fixed;
    background-color: #101010ce;
    width: 100VW;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    box-sizing:border-box;
    align-items: center;
}
.Title
{
    display: flex;
}
ul
{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: auto;
}
li a:hover
{
    color: var(--accent);
}

/* ==================================================== */

.page1
{
    width: 100vw;
    height: 100vh;
    display: flex;

}

.page1 p
{
    width: 500px;

}

.page1 .kiri h1
{
    margin-top: 30%;
    font-weight: 600;
    font-size: 60px;
    width: 300px;
}

.page1 .kiri
{
    z-index: 2;
    margin-top: 0;
    width: 25vw;
    height: 90vh;
    padding-top: 25vh;
    padding-left: 3vw;
    /* background-color: rgb(40, 37, 31); */
    box-sizing: border-box;
}
.page1 .kanan
{
    width: 75vw;
    height: 90vh;
    /* background-color: rgb(255, 140, 0); */
}

.page1 img
{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.page1 button
{
    background: none;
    border: none;
    outline: rgb(255, 255, 255) solid 1px;
    padding: 7px;
    margin: 20px;
    cursor: pointer;
}
.page1 button:hover
{
    outline: none; 
    color: #101010;
    background-color: white;
}
.page1 button:active
{
    outline: none; 
    transform: scale(0.9);
}


/* ========================================================== */



.page2
{
    position: relative;
    background-color: var(--primary);
    width: 96vw;
    height: 150vh;
    margin: 2%;
    margin-top: 4%;
    z-index: -2;
}

.page2 h2
{
    position: relative;
    color: #101010;
    width: 100%;
    z-index: 2;
}
.page2 h2::before
{
    z-index: -1;
    position: absolute;
    content: "   ";
    background-color: var(--accent);
    width: 225px;
    height: 40px;
    right: 0;
}

.page2 .atas
{
    display: flex;
    height: 20%;
    background-color: var(--secondary);
}
.page2 .bawah
{
    display: flex;
    height: 80%;

}



.page2 .kiri
{
    width: 60%;
    padding: 4%;
    padding-left: 10%;
    box-sizing: border-box;
}
.page2 .kiri h1
{

    color: #101010;
    line-height: 30px;
    font-size: 40px;
    font-weight: 600;
}
.page2 .kiri span
{
    font-size: 36px;
    font-weight: 600;
    color: var(--accent)
}



.page2 .kanan
{
    width: 40%;
    text-align: center;
    padding: 3%;
}
.page2 .kanan p
{
    color: #101010;
    cursor: pointer;


}
.page2 .atas .kanan button
{
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 18px;
    border: none;
    outline: #101010 solid 1px;
    border-color: #101010;
    border-width: 1px;
    background-color: var(--primary);
    z-index: 4;
    cursor: pointer;
    margin: 10px;
    color: #101010;

}
.page2 .atas .kanan button:hover
{
    background-color: var(--secondary);
}




.page2 .kiri2
{
    width: 30%;
    padding: 3%;
    box-sizing: border-box;
    padding-left: 7%;
    /* background-color: darkorange; */
}







.page2 .kanan2
{
    color: #101010;
    width: 70%;
    padding: 3%;
    box-sizing: border-box;
    /* background-color: aqua; */
}

.page2 .kanan2 h2 span
{
    color: #101010;
    font-size: 105%; 

}
.page2 .kanan2 h2
{
    font-size: 150%; 
    font-weight: 300;


}

/* ========================================================================================== */

.page3

{
    position: relative;
    font-weight: 500;
    background-color: var(--secondary);
    color: #101010;
    width: 100vw;
    height: 30vh;
    padding: 3%;
    box-sizing: border-box;

}
.page3 ul li a
{
    text-decoration: underline;

    color: #272727;

}
.page3 ul li a:hover
{
    color: #101010;
    filter: brightness(.5);
}

.page3 p
{
    font-size: 14px;
    color: #101010;
    line-height: 10px;
}

/* ========================================================================================== */

.Products div
{
    display: flex;
    flex-direction:row-reverse;
    gap: 10px;
    margin: 10px;
}
.Products .span
{
    width: 110%;
    height: 110%;
    background-color: #475065;
    clip-path: circle();
}
.Products form input
{
    opacity: 0;
}
.Products form input:checked > .Products
{
    background-color: #002C9A;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    clip-path: polygon(50% 30%, 70% 5%, 90% 10%, 100% 60%, 50% 100%, 0% 60%, 10% 10%, 30% 5%);    height: 25px;
    width: 25px;
    background-color: #475065;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #f32121;
    border-radius: 100%;
  }





.Products nav
{
    position: fixed;
    display: flex;
    background-color: rgb(12, 12, 12);
    top: 0;
    left: 0;
    height: 100vh;
    width: 15vw;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
}
#back
{
    color: #ffffff;
    padding: 20%;
    padding-left: 50%;
    padding-right: 50%;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: white solid 1px;
    cursor: pointer;
}
#back:hover
{
    outline: none; 
    color: #101010;
    background-color: white;
}
#back:active
{
    outline: none; 
    transform: scale(0.9);
    color: #101010;
    background-color: white;
}

.Products nav span
{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2vh;
    display: flex;
}

#purchase
{
    color: #ffffff;
    padding: 20%;
    padding-left: 80%;
    padding-right: 80%;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: white solid 1px;
    cursor: pointer;
}

#purchase:hover
{
    outline: none; 
    color: #101010;
    background-color: white;
}
#purchase:active
{
    outline: none; 
    transform: scale(0.9);
    color: #101010;
    background-color: white;
}



.Products form
{
    width: 25vw;
    height: 70vh;
    background-color: rgb(19, 19, 19);
    padding: 1%;
}

.Products input
{
    width: 30px;
    height: 30px;
}

.Products img
{
    margin-top: -3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Products h2
{
    font-weight: 700;
}
.Products form section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.Products form section div
{
    display: block;
}
.Products form section div button
{
    color: #ffffff;
    padding: 5%;
    min-width: 100px;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: white solid 1px;
    cursor: pointer;
}
.Products button:hover
{
    outline: none; 
    color: #101010;
    background-color: white;
}
.Products button:active
{
    outline: none; 
    transform: scale(0.9);
    color: #101010;
    background-color: white;
}

